.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    max-width: 450px;
    background: var(--bg-color-primary-light);
    padding: 1.25rem 1.75rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.login-form .form-title{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.25rem 0rem 1.75rem;
    color: var(--text-color-primary);
}
.login-form .error-msg{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-secondary);
    text-align: center;
    padding: 8px 0px;
    border-radius: 4px;
} 
.login-form .form-input{
    margin: 10px 0px;
}
.login-form .form-input label,
.login-form .captcha label{
    color: var(--text-color-primary);
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
.login-form .form-input input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--bg-color-secondary-light);
}
.login-form .captcha{
    margin: 15px 0px;
}
.login-form .captcha .preview{
    color: var(--text-color-primary-dark);
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px solid var(--border-color-primary);
    font-family: "monospace";
    margin-bottom: 1.25rem;
    display: inline-block;
    user-select: none;
}

.login-form .captcha .captcha-form{
    display: flex;
}

.login-form .captcha .captcha-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color-primary);
}

.login-form .captcha .captcha-form .captcha-refresh{
    width: 4.5rem;
    border: none;
    outline: none;
    background: var(--border-color-primary);
    color: var(--text-color-primary-light);
    cursor: pointer;
}
.login-form #login-btn{
    background-color: var(--button-color-primary);
    color: var(--bg-color-primary-light);
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}